<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>[ShortURL]</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/count.css">
</head>
<body>
  <form action="/mkr " method="post">
    <!--<label for="select-domain">-->
    <h1>UltraGo_v2</h1>
    <div>Let's make short url without any other service that be end.<br>
    <div>Please input URL that you want to make it short!<br>
    <input type="text" id="target" name="target" placeholder="https://www.example.com/" required
       minlength="1" size="150"></input><br>
      <select name="selectdomain" id="selectdomain">
        <option value="">Click to select domain</option>
        <% @domains.each do |domain| %>
          <option value="<%= domain %>"><%= domain %></option>
        <% end %>
      </select>
      <input type="text" id="arg" name="arg" placeholder="arg!"  rrequired
       minlength="1" maxlength="25" size="25"></input>
       <input type="password" id="pw" name="pw" placeholder="password-for-delete!" required
       minlength="4" maxlength="20" size="25"></input>
      <p>
        <button type="submit"><big>Make it!</big></button>
      </p>
      <br>
      <div>We shorted <%= Link.count + 1 %>!
  </form>
</body>
</html>
